* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
    width: 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    background: #5e5e5e;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #585858;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

section {
    background: rgb(0, 0, 0);
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a:hover,
    li a.active {
        background: none;
        color: rgb(20, 20, 20);
    }
    #check:checked~ul {
        left: 0;
    }
}

.contenedor {
    background-color: rgb(51, 51, 51);
    padding: 20px;
    border-radius: 10px;
}

.contenido {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

.info {
    display: flex;
    align-items: center;
}

img {
    width: 500px;
    height: 500;
    margin-right: 10px;
}

.texto {
    flex: 1;
}

h2 {
    font-size: 60px;
    color: #ffffff;
    margin: 0;
}

p {
    font-size: 16px;
    color: #999999;
    margin: 0;
}

.boton-descarga {
    text-align: center;
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
    /* Agregar un margen izquierdo para separar el botón de la información */
    display: block;
    /* Hacer que el botón se muestre como un bloque para que esté debajo de la descripción */
    margin-top: 10px;
    /* Agregar margen superior para separar el botón de la descripción */
}

.boton-descarga:hover {
    background-color: #0056b3;
}

.info {
    background-color: #252525;
    padding: 20px;
    border-radius: 10px;
}

.cont {
    display: flex;
    align-items: center;
    background-color: rgb(80, 80, 80);
    padding: 10px;
    border-radius: 10px;
}

h1 {
    font-size: 60px;
    color: #ffffff;
    margin: 0;
}

P {
    font-size: 16px;
    color: #ffffff;
    margin: 0;
}